In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dados/electric-production.csv', date_format='%m-%d-%Y',
                 parse_dates=['date'], index_col='date')

In [3]:
df.head()

              value
date
1985-01-01  72.5052
1985-02-01  70.6720
1985-03-01  62.4502
1985-04-01  57.4714
1985-05-01  55.3151

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 397 entries, 1985-01-01 to 2018-01-01
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   397 non-null    float64
dtypes: float64(1)
memory usage: 6.2 KB