In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.master('local[*]').getOrCreate()

24/07/31 09:07:14 WARN Utils: Your hostname, Eduardos-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 10.75.124.249 instead (on interface en0)
24/07/31 09:07:14 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/31 09:07:14 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark.sql('SELECT "ok" AS status').show()

+------+
|status|
+------+
|    ok|
+------+

In [4]:
df = spark.read.csv('dados/cereal.csv', inferSchema = True, header = True)

In [5]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- mfr: string (nullable = true)
 |-- type: string (nullable = true)
 |-- calories: integer (nullable = true)
 |-- protein: integer (nullable = true)
 |-- fat: integer (nullable = true)
 |-- sodium: integer (nullable = true)
 |-- fiber: double (nullable = true)
 |-- carbo: double (nullable = true)
 |-- sugars: integer (nullable = true)
 |-- potass: integer (nullable = true)
 |-- vitamins: integer (nullable = true)
 |-- shelf: integer (nullable = true)
 |-- weight: double (nullable = true)
 |-- cups: double (nullable = true)
 |-- rating: double (nullable = true)

In [6]:
df.createOrReplaceTempView('cereal')

In [7]:
spark.sql('SELECT * FROM cereal').show(5)

+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|                name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|           100% Bran|  N|   C|      70|      4|  1|   130| 10.0|  5.0|     6|   280|      25|    3|   1.0|0.33|68.402973|
|   100% Natural Bran|  Q|   C|     120|      3|  5|    15|  2.0|  8.0|     8|   135|       0|    3|   1.0| 1.0|33.983679|
|            All-Bran|  K|   C|      70|      4|  1|   260|  9.0|  7.0|     5|   320|      25|    3|   1.0|0.33|59.425505|
|All-Bran with Ext...|  K|   C|      50|      4|  0|   140| 14.0|  8.0|     0|   330|      25|    3|   1.0| 0.5|93.704912|
|      Almond Delight|  R|   C|     110|      2|  2|   200|  1.0| 14.0|     8|    -1|      25|    3|   1.0|0.75|34.384843|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
only showing top 5 rows

In [8]:
spark.sql('SELECT * FROM cereal WHERE type = "C"').show(5)

+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|                name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|           100% Bran|  N|   C|      70|      4|  1|   130| 10.0|  5.0|     6|   280|      25|    3|   1.0|0.33|68.402973|
|   100% Natural Bran|  Q|   C|     120|      3|  5|    15|  2.0|  8.0|     8|   135|       0|    3|   1.0| 1.0|33.983679|
|            All-Bran|  K|   C|      70|      4|  1|   260|  9.0|  7.0|     5|   320|      25|    3|   1.0|0.33|59.425505|
|All-Bran with Ext...|  K|   C|      50|      4|  0|   140| 14.0|  8.0|     0|   330|      25|    3|   1.0| 0.5|93.704912|
|      Almond Delight|  R|   C|     110|      2|  2|   200|  1.0| 14.0|     8|    -1|      25|    3|   1.0|0.75|34.384843|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
only showing top 5 rows

In [9]:
df.where(df['type'] == 'C').show(5)

+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|                name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|           100% Bran|  N|   C|      70|      4|  1|   130| 10.0|  5.0|     6|   280|      25|    3|   1.0|0.33|68.402973|
|   100% Natural Bran|  Q|   C|     120|      3|  5|    15|  2.0|  8.0|     8|   135|       0|    3|   1.0| 1.0|33.983679|
|            All-Bran|  K|   C|      70|      4|  1|   260|  9.0|  7.0|     5|   320|      25|    3|   1.0|0.33|59.425505|
|All-Bran with Ext...|  K|   C|      50|      4|  0|   140| 14.0|  8.0|     0|   330|      25|    3|   1.0| 0.5|93.704912|
|      Almond Delight|  R|   C|     110|      2|  2|   200|  1.0| 14.0|     8|    -1|      25|    3|   1.0|0.75|34.384843|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
only showing top 5 rows

In [10]:
spark.sql('SELECT COUNT(1) AS total FROM cereal WHERE mfr = "G"').show()

+-----+
|total|
+-----+
|   22|
+-----+

In [11]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- mfr: string (nullable = true)
 |-- type: string (nullable = true)
 |-- calories: integer (nullable = true)
 |-- protein: integer (nullable = true)
 |-- fat: integer (nullable = true)
 |-- sodium: integer (nullable = true)
 |-- fiber: double (nullable = true)
 |-- carbo: double (nullable = true)
 |-- sugars: integer (nullable = true)
 |-- potass: integer (nullable = true)
 |-- vitamins: integer (nullable = true)
 |-- shelf: integer (nullable = true)
 |-- weight: double (nullable = true)
 |-- cups: double (nullable = true)
 |-- rating: double (nullable = true)

In [12]:
spark.sql('SELECT name, type, mfr FROM cereal').show(5)

+--------------------+----+---+
|                name|type|mfr|
+--------------------+----+---+
|           100% Bran|   C|  N|
|   100% Natural Bran|   C|  Q|
|            All-Bran|   C|  K|
|All-Bran with Ext...|   C|  K|
|      Almond Delight|   C|  R|
+--------------------+----+---+
only showing top 5 rows

In [13]:
spark.sql('SELECT DISTINCT type, mfr FROM cereal').show(5)

+----+---+
|type|mfr|
+----+---+
|   C|  P|
|   C|  Q|
|   C|  N|
|   H|  Q|
|   C|  R|
+----+---+
only showing top 5 rows

In [14]:
spark.sql('SELECT * FROM cereal WHERE mfr = "K"').show(5)

+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|                name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|            All-Bran|  K|   C|      70|      4|  1|   260|  9.0|  7.0|     5|   320|      25|    3|   1.0|0.33|59.425505|
|All-Bran with Ext...|  K|   C|      50|      4|  0|   140| 14.0|  8.0|     0|   330|      25|    3|   1.0| 0.5|93.704912|
|         Apple Jacks|  K|   C|     110|      2|  0|   125|  1.0| 11.0|    14|    30|      25|    2|   1.0| 1.0|33.174094|
|         Corn Flakes|  K|   C|     100|      2|  0|   290|  1.0| 21.0|     2|    35|      25|    1|   1.0| 1.0|45.863324|
|           Corn Pops|  K|   C|     110|      1|  0|    90|  1.0| 13.0|    12|    20|      25|    2|   1.0| 1.0|35.782791|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
only showing top 5 rows

In [15]:
spark.sql('SELECT * FROM cereal WHERE calories >= 100').show(5)

+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|                name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|   100% Natural Bran|  Q|   C|     120|      3|  5|    15|  2.0|  8.0|     8|   135|       0|    3|   1.0| 1.0|33.983679|
|      Almond Delight|  R|   C|     110|      2|  2|   200|  1.0| 14.0|     8|    -1|      25|    3|   1.0|0.75|34.384843|
|Apple Cinnamon Ch...|  G|   C|     110|      2|  2|   180|  1.5| 10.5|    10|    70|      25|    1|   1.0|0.75|29.509541|
|         Apple Jacks|  K|   C|     110|      2|  0|   125|  1.0| 11.0|    14|    30|      25|    2|   1.0| 1.0|33.174094|
|             Basic 4|  G|   C|     130|      3|  2|   210|  2.0| 18.0|     8|   100|      25|    3|  1.33|0.75|37.038562|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
only showing top 5 rows

In [16]:
spark.sql('SELECT * FROM cereal WHERE mfr = "K" AND calories >= 100').show(5)

+------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|              name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|
+------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|       Apple Jacks|  K|   C|     110|      2|  0|   125|  1.0| 11.0|    14|    30|      25|    2|   1.0| 1.0|33.174094|
|       Corn Flakes|  K|   C|     100|      2|  0|   290|  1.0| 21.0|     2|    35|      25|    1|   1.0| 1.0|45.863324|
|         Corn Pops|  K|   C|     110|      1|  0|    90|  1.0| 13.0|    12|    20|      25|    2|   1.0| 1.0|35.782791|
|Cracklin' Oat Bran|  K|   C|     110|      3|  3|   140|  4.0| 10.0|     7|   160|      25|    3|   1.0| 0.5|40.448772|
|           Crispix|  K|   C|     110|      2|  0|   220|  1.0| 21.0|     3|    30|      25|    3|   1.0| 1.0|46.895644|
+------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
only showing top 5 rows

In [17]:
spark.sql('''
    SELECT mfr, type, COUNT(1) AS total , SUM(calories) AS total_calories
    FROM cereal GROUP BY mfr, type
''').show(5)

+---+----+-----+--------------+
|mfr|type|total|total_calories|
+---+----+-----+--------------+
|  A|   H|    1|           100|
|  P|   C|    9|           980|
|  K|   C|   23|          2500|
|  G|   C|   22|          2450|
|  Q|   C|    7|           660|
+---+----+-----+--------------+
only showing top 5 rows

In [18]:
spark.sql('''
    SELECT mfr, type,
           CASE WHEN type = "H" THEN "AGA"
                WHEN type = "C" THEN "CE"
                ELSE type
            END AS new_type
    FROM cereal
    ORDER BY type DESC
''').show(5)

+---+----+--------+
|mfr|type|new_type|
+---+----+--------+
|  N|   H|     AGA|
|  A|   H|     AGA|
|  Q|   H|     AGA|
|  N|   C|      CE|
|  Q|   C|      CE|
+---+----+--------+
only showing top 5 rows

In [19]:
spark.sql('''
    SELECT mfr, type
           , SUM(calories) AS total_calories
           , MIN(calories) AS min_calories
           , MAX(calories) AS max_calories
           , AVG(calories) AS avg_calories
           , COUNT(DISTINCT name) AS distinct_names
           , COUNT(name) AS names
    FROM cereal
    GROUP BY mfr, type
    ORDER BY mfr, type
''').show(5)

+---+----+--------------+------------+------------+------------------+--------------+-----+
|mfr|type|total_calories|min_calories|max_calories|      avg_calories|distinct_names|names|
+---+----+--------------+------------+------------+------------------+--------------+-----+
|  A|   H|           100|         100|         100|             100.0|             1|    1|
|  G|   C|          2450|         100|         140|111.36363636363636|            22|   22|
|  K|   C|          2500|          50|         160|108.69565217391305|            23|   23|
|  N|   C|           420|          70|          90|              84.0|             5|    5|
|  N|   H|           100|         100|         100|             100.0|             1|    1|
+---+----+--------------+------------+------------+------------------+--------------+-----+
only showing top 5 rows

In [20]:
spark.sql('''
    SELECT mfr, type

           , CASE
               WHEN mfr = "A" THEN "American Home Food Products"
               WHEN mfr = "G" THEN "General Mills"
               WHEN mfr = "K" THEN "Kelloggs"
               WHEN mfr = "N" THEN "Nabisco"
               WHEN mfr = "P" THEN "Post"
               WHEN mfr = "Q" THEN "Quaker Oats"
               WHEN mfr = "R" THEN "Ralston Purina"
               ELSE "Unknown"
             END as mfr_name

           , SUM(calories) AS total_calories
           , MIN(calories) AS min_calories
           , MAX(calories) AS max_calories
           , ROUND(AVG(calories), 2) AS avg_calories

           , SUM(carbo) AS total_carbo
           , MIN(carbo) AS min_carbo
           , MAX(carbo) AS max_carbo
           , CAST(AVG(carbo) AS DECIMAL(10, 2)) AS avg_carbo

           , SUM(vitamins) AS total_vitamins
           , MIN(vitamins) AS min_vitamins
           , MAX(vitamins) AS max_vitamins
           , CAST(AVG(vitamins) AS INT) AS avg_vitamins

           , COUNT(DISTINCT name) AS distinct_names
           , COUNT(name) AS names

    FROM cereal
    GROUP BY mfr, type
    ORDER BY mfr, type
''').show(5)

+---+----+--------------------+--------------+------------+------------+------------+-----------+---------+---------+---------+--------------+------------+------------+------------+--------------+-----+
|mfr|type|            mfr_name|total_calories|min_calories|max_calories|avg_calories|total_carbo|min_carbo|max_carbo|avg_carbo|total_vitamins|min_vitamins|max_vitamins|avg_vitamins|distinct_names|names|
+---+----+--------------------+--------------+------------+------------+------------+-----------+---------+---------+---------+--------------+------------+------------+------------+--------------+-----+
|  A|   H|American Home Foo...|           100|         100|         100|       100.0|       16.0|     16.0|     16.0|    16.00|            25|          25|          25|          25|             1|    1|
|  G|   C|       General Mills|          2450|         100|         140|      111.36|      324.0|     10.5|     21.0|    14.73|           775|          25|         100|          35|            22|   22|
|  K|   C|            Kelloggs|          2500|          50|         160|       108.7|      348.0|      7.0|     22.0|    15.13|           800|          25|         100|          34|            23|   23|
|  N|   C|             Nabisco|           420|          70|          90|        84.0|       75.0|      5.0|     20.0|    15.00|            50|           0|          25|          10|             5|    5|
|  N|   H|             Nabisco|           100|         100|         100|       100.0|       21.0|     21.0|     21.0|    21.00|             0|           0|           0|           0|             1|    1|
+---+----+--------------------+--------------+------------+------------+------------+-----------+---------+---------+---------+--------------+------------+------------+------------+--------------+-----+
only showing top 5 rows