In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.master('local[*]').getOrCreate()

24/07/31 13:18:46 WARN Utils: Your hostname, Eduardos-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 10.75.124.249 instead (on interface en0)
24/07/31 13:18:46 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/31 13:18:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark.sql('SELECT "ok" AS status').show()

+------+
|status|
+------+
|    ok|
+------+

In [4]:
df = spark.read.csv('dados/cereal.csv', inferSchema = True, header = True)

In [5]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- mfr: string (nullable = true)
 |-- type: string (nullable = true)
 |-- calories: integer (nullable = true)
 |-- protein: integer (nullable = true)
 |-- fat: integer (nullable = true)
 |-- sodium: integer (nullable = true)
 |-- fiber: double (nullable = true)
 |-- carbo: double (nullable = true)
 |-- sugars: integer (nullable = true)
 |-- potass: integer (nullable = true)
 |-- vitamins: integer (nullable = true)
 |-- shelf: integer (nullable = true)
 |-- weight: double (nullable = true)
 |-- cups: double (nullable = true)
 |-- rating: double (nullable = true)

In [6]:
df.createOrReplaceTempView('cereal')

In [7]:
spark.sql('SELECT * FROM cereal').show(5)

+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|                name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|           100% Bran|  N|   C|      70|      4|  1|   130| 10.0|  5.0|     6|   280|      25|    3|   1.0|0.33|68.402973|
|   100% Natural Bran|  Q|   C|     120|      3|  5|    15|  2.0|  8.0|     8|   135|       0|    3|   1.0| 1.0|33.983679|
|            All-Bran|  K|   C|      70|      4|  1|   260|  9.0|  7.0|     5|   320|      25|    3|   1.0|0.33|59.425505|
|All-Bran with Ext...|  K|   C|      50|      4|  0|   140| 14.0|  8.0|     0|   330|      25|    3|   1.0| 0.5|93.704912|
|      Almond Delight|  R|   C|     110|      2|  2|   200|  1.0| 14.0|     8|    -1|      25|    3|   1.0|0.75|34.384843|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
only showing top 5 rows

In [8]:
spark.sql('SELECT * FROM cereal WHERE type = "C"').show(5)

+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|                name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|           100% Bran|  N|   C|      70|      4|  1|   130| 10.0|  5.0|     6|   280|      25|    3|   1.0|0.33|68.402973|
|   100% Natural Bran|  Q|   C|     120|      3|  5|    15|  2.0|  8.0|     8|   135|       0|    3|   1.0| 1.0|33.983679|
|            All-Bran|  K|   C|      70|      4|  1|   260|  9.0|  7.0|     5|   320|      25|    3|   1.0|0.33|59.425505|
|All-Bran with Ext...|  K|   C|      50|      4|  0|   140| 14.0|  8.0|     0|   330|      25|    3|   1.0| 0.5|93.704912|
|      Almond Delight|  R|   C|     110|      2|  2|   200|  1.0| 14.0|     8|    -1|      25|    3|   1.0|0.75|34.384843|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
only showing top 5 rows

In [9]:
df.where(df['type'] == 'C').show(5)

+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|                name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|           100% Bran|  N|   C|      70|      4|  1|   130| 10.0|  5.0|     6|   280|      25|    3|   1.0|0.33|68.402973|
|   100% Natural Bran|  Q|   C|     120|      3|  5|    15|  2.0|  8.0|     8|   135|       0|    3|   1.0| 1.0|33.983679|
|            All-Bran|  K|   C|      70|      4|  1|   260|  9.0|  7.0|     5|   320|      25|    3|   1.0|0.33|59.425505|
|All-Bran with Ext...|  K|   C|      50|      4|  0|   140| 14.0|  8.0|     0|   330|      25|    3|   1.0| 0.5|93.704912|
|      Almond Delight|  R|   C|     110|      2|  2|   200|  1.0| 14.0|     8|    -1|      25|    3|   1.0|0.75|34.384843|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
only showing top 5 rows

In [10]:
spark.sql('SELECT COUNT(1) AS total FROM cereal WHERE mfr = "G"').show()

+-----+
|total|
+-----+
|   22|
+-----+

In [11]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- mfr: string (nullable = true)
 |-- type: string (nullable = true)
 |-- calories: integer (nullable = true)
 |-- protein: integer (nullable = true)
 |-- fat: integer (nullable = true)
 |-- sodium: integer (nullable = true)
 |-- fiber: double (nullable = true)
 |-- carbo: double (nullable = true)
 |-- sugars: integer (nullable = true)
 |-- potass: integer (nullable = true)
 |-- vitamins: integer (nullable = true)
 |-- shelf: integer (nullable = true)
 |-- weight: double (nullable = true)
 |-- cups: double (nullable = true)
 |-- rating: double (nullable = true)

In [12]:
spark.sql('SELECT name, type, mfr FROM cereal').show(5)

+--------------------+----+---+
|                name|type|mfr|
+--------------------+----+---+
|           100% Bran|   C|  N|
|   100% Natural Bran|   C|  Q|
|            All-Bran|   C|  K|
|All-Bran with Ext...|   C|  K|
|      Almond Delight|   C|  R|
+--------------------+----+---+
only showing top 5 rows

In [13]:
spark.sql('SELECT DISTINCT type, mfr FROM cereal').show(5)

+----+---+
|type|mfr|
+----+---+
|   C|  P|
|   C|  Q|
|   C|  N|
|   H|  Q|
|   C|  R|
+----+---+
only showing top 5 rows

In [14]:
spark.sql('SELECT * FROM cereal WHERE mfr = "K"').show(5)

+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|                name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|            All-Bran|  K|   C|      70|      4|  1|   260|  9.0|  7.0|     5|   320|      25|    3|   1.0|0.33|59.425505|
|All-Bran with Ext...|  K|   C|      50|      4|  0|   140| 14.0|  8.0|     0|   330|      25|    3|   1.0| 0.5|93.704912|
|         Apple Jacks|  K|   C|     110|      2|  0|   125|  1.0| 11.0|    14|    30|      25|    2|   1.0| 1.0|33.174094|
|         Corn Flakes|  K|   C|     100|      2|  0|   290|  1.0| 21.0|     2|    35|      25|    1|   1.0| 1.0|45.863324|
|           Corn Pops|  K|   C|     110|      1|  0|    90|  1.0| 13.0|    12|    20|      25|    2|   1.0| 1.0|35.782791|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
only showing top 5 rows

In [15]:
spark.sql('SELECT * FROM cereal WHERE calories >= 100').show(5)

+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|                name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|   100% Natural Bran|  Q|   C|     120|      3|  5|    15|  2.0|  8.0|     8|   135|       0|    3|   1.0| 1.0|33.983679|
|      Almond Delight|  R|   C|     110|      2|  2|   200|  1.0| 14.0|     8|    -1|      25|    3|   1.0|0.75|34.384843|
|Apple Cinnamon Ch...|  G|   C|     110|      2|  2|   180|  1.5| 10.5|    10|    70|      25|    1|   1.0|0.75|29.509541|
|         Apple Jacks|  K|   C|     110|      2|  0|   125|  1.0| 11.0|    14|    30|      25|    2|   1.0| 1.0|33.174094|
|             Basic 4|  G|   C|     130|      3|  2|   210|  2.0| 18.0|     8|   100|      25|    3|  1.33|0.75|37.038562|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
only showing top 5 rows

In [16]:
spark.sql('SELECT * FROM cereal WHERE mfr = "K" AND calories >= 100').show(5)

+------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|              name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|
+------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|       Apple Jacks|  K|   C|     110|      2|  0|   125|  1.0| 11.0|    14|    30|      25|    2|   1.0| 1.0|33.174094|
|       Corn Flakes|  K|   C|     100|      2|  0|   290|  1.0| 21.0|     2|    35|      25|    1|   1.0| 1.0|45.863324|
|         Corn Pops|  K|   C|     110|      1|  0|    90|  1.0| 13.0|    12|    20|      25|    2|   1.0| 1.0|35.782791|
|Cracklin' Oat Bran|  K|   C|     110|      3|  3|   140|  4.0| 10.0|     7|   160|      25|    3|   1.0| 0.5|40.448772|
|           Crispix|  K|   C|     110|      2|  0|   220|  1.0| 21.0|     3|    30|      25|    3|   1.0| 1.0|46.895644|
+------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
only showing top 5 rows

In [17]:
spark.sql('''
    SELECT mfr, type, COUNT(1) AS total , SUM(calories) AS total_calories
    FROM cereal GROUP BY mfr, type
''').show(5)

+---+----+-----+--------------+
|mfr|type|total|total_calories|
+---+----+-----+--------------+
|  A|   H|    1|           100|
|  P|   C|    9|           980|
|  K|   C|   23|          2500|
|  G|   C|   22|          2450|
|  Q|   C|    7|           660|
+---+----+-----+--------------+
only showing top 5 rows

In [18]:
spark.sql('''
    SELECT mfr, type,
           CASE WHEN type = "H" THEN "AGA"
                WHEN type = "C" THEN "CE"
                ELSE type
            END AS new_type
    FROM cereal
    ORDER BY type DESC
''').show(5)

+---+----+--------+
|mfr|type|new_type|
+---+----+--------+
|  N|   H|     AGA|
|  A|   H|     AGA|
|  Q|   H|     AGA|
|  N|   C|      CE|
|  Q|   C|      CE|
+---+----+--------+
only showing top 5 rows

In [19]:
spark.sql('''
    SELECT mfr, type
           , SUM(calories) AS total_calories
           , MIN(calories) AS min_calories
           , MAX(calories) AS max_calories
           , AVG(calories) AS avg_calories
           , COUNT(DISTINCT name) AS distinct_names
           , COUNT(name) AS names
    FROM cereal
    GROUP BY mfr, type
    ORDER BY mfr, type
''').show(5)

+---+----+--------------+------------+------------+------------------+--------------+-----+
|mfr|type|total_calories|min_calories|max_calories|      avg_calories|distinct_names|names|
+---+----+--------------+------------+------------+------------------+--------------+-----+
|  A|   H|           100|         100|         100|             100.0|             1|    1|
|  G|   C|          2450|         100|         140|111.36363636363636|            22|   22|
|  K|   C|          2500|          50|         160|108.69565217391305|            23|   23|
|  N|   C|           420|          70|          90|              84.0|             5|    5|
|  N|   H|           100|         100|         100|             100.0|             1|    1|
+---+----+--------------+------------+------------+------------------+--------------+-----+
only showing top 5 rows

In [20]:
spark.sql('''
    SELECT mfr, type

           , CASE
               WHEN mfr = "A" THEN "American Home Food Products"
               WHEN mfr = "G" THEN "General Mills"
               WHEN mfr = "K" THEN "Kelloggs"
               WHEN mfr = "N" THEN "Nabisco"
               WHEN mfr = "P" THEN "Post"
               WHEN mfr = "Q" THEN "Quaker Oats"
               WHEN mfr = "R" THEN "Ralston Purina"
               ELSE "Unknown"
             END as mfr_name

           , SUM(calories) AS total_calories
           , MIN(calories) AS min_calories
           , MAX(calories) AS max_calories
           , ROUND(AVG(calories), 2) AS avg_calories

           , SUM(carbo) AS total_carbo
           , MIN(carbo) AS min_carbo
           , MAX(carbo) AS max_carbo
           , CAST(AVG(carbo) AS DECIMAL(10, 2)) AS avg_carbo

           , SUM(vitamins) AS total_vitamins
           , MIN(vitamins) AS min_vitamins
           , MAX(vitamins) AS max_vitamins
           , CAST(AVG(vitamins) AS INT) AS avg_vitamins

           , COUNT(DISTINCT name) AS distinct_names
           , COUNT(name) AS names

    FROM cereal
    GROUP BY mfr, type
    ORDER BY mfr, type
''').show(5)

+---+----+--------------------+--------------+------------+------------+------------+-----------+---------+---------+---------+--------------+------------+------------+------------+--------------+-----+
|mfr|type|            mfr_name|total_calories|min_calories|max_calories|avg_calories|total_carbo|min_carbo|max_carbo|avg_carbo|total_vitamins|min_vitamins|max_vitamins|avg_vitamins|distinct_names|names|
+---+----+--------------------+--------------+------------+------------+------------+-----------+---------+---------+---------+--------------+------------+------------+------------+--------------+-----+
|  A|   H|American Home Foo...|           100|         100|         100|       100.0|       16.0|     16.0|     16.0|    16.00|            25|          25|          25|          25|             1|    1|
|  G|   C|       General Mills|          2450|         100|         140|      111.36|      324.0|     10.5|     21.0|    14.73|           775|          25|         100|          35|            22|   22|
|  K|   C|            Kelloggs|          2500|          50|         160|       108.7|      348.0|      7.0|     22.0|    15.13|           800|          25|         100|          34|            23|   23|
|  N|   C|             Nabisco|           420|          70|          90|        84.0|       75.0|      5.0|     20.0|    15.00|            50|           0|          25|          10|             5|    5|
|  N|   H|             Nabisco|           100|         100|         100|       100.0|       21.0|     21.0|     21.0|    21.00|             0|           0|           0|           0|             1|    1|
+---+----+--------------------+--------------+------------+------------+------------+-----------+---------+---------+---------+--------------+------------+------------+------------+--------------+-----+
only showing top 5 rows

In [21]:
sales_df = spark.read.csv('dados/sales_data_sample.csv', inferSchema = True, header = True)

In [22]:
sales_df.show(5)

+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+-----+----------+-------+---------+---------------+----------------+--------+
|ORDERNUMBER|QUANTITYORDERED|PRICEEACH|ORDERLINENUMBER|  SALES|      ORDERDATE| STATUS|QTR_ID|MONTH_ID|YEAR_ID|PRODUCTLINE|MSRP|PRODUCTCODE|        CUSTOMERNAME|           PHONE|        ADDRESSLINE1|ADDRESSLINE2|         CITY|STATE|POSTALCODE|COUNTRY|TERRITORY|CONTACTLASTNAME|CONTACTFIRSTNAME|DEALSIZE|
+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+-----+----------+-------+---------+---------------+----------------+--------+
|      10107|             30|     95.7|              2| 2871.0| 2/24/2003 0:00|Shipped|     1|       2|   2003|Motorcycles|  95|   S10_1678|   Land of Toys Inc.|      2125557818|897 Long Airport ...|        NULL|          NYC|   NY|     10022|    USA|       NA|             Yu|            Kwai|   Small|
|      10121|             34|    81.35|              5| 2765.9|  5/7/2003 0:00|Shipped|     2|       5|   2003|Motorcycles|  95|   S10_1678|  Reims Collectables|      26.47.1555|  59 rue de l'Abbaye|        NULL|        Reims| NULL|     51100| France|     EMEA|        Henriot|            Paul|   Small|
|      10134|             41|    94.74|              2|3884.34|  7/1/2003 0:00|Shipped|     3|       7|   2003|Motorcycles|  95|   S10_1678|     Lyon Souveniers|+33 1 46 62 7555|27 rue du Colonel...|        NULL|        Paris| NULL|     75508| France|     EMEA|       Da Cunha|          Daniel|  Medium|
|      10145|             45|    83.26|              6| 3746.7| 8/25/2003 0:00|Shipped|     3|       8|   2003|Motorcycles|  95|   S10_1678|   Toys4GrownUps.com|      6265557265|  78934 Hillside Dr.|        NULL|     Pasadena|   CA|     90003|    USA|       NA|          Young|           Julie|  Medium|
|      10159|             49|    100.0|             14|5205.27|10/10/2003 0:00|Shipped|     4|      10|   2003|Motorcycles|  95|   S10_1678|Corporate Gift Id...|      6505551386|     7734 Strong St.|        NULL|San Francisco|   CA|      NULL|    USA|       NA|          Brown|           Julie|  Medium|
+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+-----+----------+-------+---------+---------------+----------------+--------+
only showing top 5 rows

In [23]:
sales_df.printSchema()

root
 |-- ORDERNUMBER: integer (nullable = true)
 |-- QUANTITYORDERED: integer (nullable = true)
 |-- PRICEEACH: double (nullable = true)
 |-- ORDERLINENUMBER: integer (nullable = true)
 |-- SALES: double (nullable = true)
 |-- ORDERDATE: string (nullable = true)
 |-- STATUS: string (nullable = true)
 |-- QTR_ID: integer (nullable = true)
 |-- MONTH_ID: integer (nullable = true)
 |-- YEAR_ID: integer (nullable = true)
 |-- PRODUCTLINE: string (nullable = true)
 |-- MSRP: integer (nullable = true)
 |-- PRODUCTCODE: string (nullable = true)
 |-- CUSTOMERNAME: string (nullable = true)
 |-- PHONE: string (nullable = true)
 |-- ADDRESSLINE1: string (nullable = true)
 |-- ADDRESSLINE2: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- POSTALCODE: string (nullable = true)
 |-- COUNTRY: string (nullable = true)
 |-- TERRITORY: string (nullable = true)
 |-- CONTACTLASTNAME: string (nullable = true)
 |-- CONTACTFIRSTNAME: string (nullable = true)
 |-- DEALSIZE: string (nullable = true)

In [24]:
calendar = sales_df.select(['orderdate', 'qtr_id', 'month_id', 'year_id'])\
                   .distinct()

In [25]:
calendar.show(5)

+---------------+------+--------+-------+
|      orderdate|qtr_id|month_id|year_id|
+---------------+------+--------+-------+
|11/20/2003 0:00|     4|      11|   2003|
|10/29/2004 0:00|     4|      10|   2004|
|11/12/2003 0:00|     4|      11|   2003|
|10/15/2004 0:00|     4|      10|   2004|
|  6/4/2004 0:00|     2|       6|   2004|
+---------------+------+--------+-------+
only showing top 5 rows

In [26]:
calendar.printSchema()

root
 |-- orderdate: string (nullable = true)
 |-- qtr_id: integer (nullable = true)
 |-- month_id: integer (nullable = true)
 |-- year_id: integer (nullable = true)

In [27]:
calendar.createOrReplaceTempView('calendar')

In [28]:
sales = sales_df.select(['ordernumber', 'customername', 'sales', 'orderdate',
                         'quantityordered', 'productcode', 'orderlinenumber',
                         'priceeach'])\
                .distinct()

In [29]:
sales.show(5)

+-----------+--------------------+-------+---------------+---------------+-----------+---------------+---------+
|ordernumber|        customername|  sales|      orderdate|quantityordered|productcode|orderlinenumber|priceeach|
+-----------+--------------------+-------+---------------+---------------+-----------+---------------+---------+
|      10339|Tokyo Collectable...| 2756.8|11/23/2004 0:00|             40|   S10_2016|              4|    68.92|
|      10253|UK Collectables, ...|4910.57|  6/1/2004 0:00|             41|   S12_4675|             10|    100.0|
|      10342|Australian Collec...|3160.74|11/24/2004 0:00|             22|   S18_1984|              3|    100.0|
|      10124|  Signal Gift Stores|4431.84| 5/21/2003 0:00|             42|   S18_2325|              3|    100.0|
|      10386|Euro Shopping Cha...|3441.37|  3/1/2005 0:00|             37|   S18_3029|              5|    93.01|
+-----------+--------------------+-------+---------------+---------------+-----------+---------------+---------+
only showing top 5 rows

In [30]:
sales.printSchema()

root
 |-- ordernumber: integer (nullable = true)
 |-- customername: string (nullable = true)
 |-- sales: double (nullable = true)
 |-- orderdate: string (nullable = true)
 |-- quantityordered: integer (nullable = true)
 |-- productcode: string (nullable = true)
 |-- orderlinenumber: integer (nullable = true)
 |-- priceeach: double (nullable = true)

In [31]:
sales.createOrReplaceTempView('sales')

In [32]:
customers = sales_df.select(['customername', 'phone', 'addressline1',
                             'addressline2', 'city', 'state', 'postalcode',
                             'country', 'territory'])\
                    .distinct()

In [33]:
customers.show(5)

+--------------------+---------------+--------------------+------------+---------+--------+----------+---------+---------+
|        customername|          phone|        addressline1|addressline2|     city|   state|postalcode|  country|territory|
+--------------------+---------------+--------------------+------------+---------+--------+----------+---------+---------+
|Australian Collec...|   03 9520 4555|   636 St Kilda Road|     Level 3|Melbourne|Victoria|      3004|Australia|     APAC|
|     Microscale Inc.|     2125551957|5290 North Pendal...|   Suite 200|      NYC|      NY|     10022|      USA|       NA|
|Souveniers And Th...|+61 2 9495 8555|Monitor Money Bui...|     Level 6|Chatswood|     NSW|      2067|Australia|     APAC|
|     Vitachrome Inc.|     2125551500|   2678 Kingston Rd.|   Suite 101|      NYC|      NY|     10022|      USA|       NA|
|Classic Legends Inc.|     2125558493|    5905 Pompton St.|   Suite 750|      NYC|      NY|     10022|      USA|       NA|
+--------------------+---------------+--------------------+------------+---------+--------+----------+---------+---------+
only showing top 5 rows

In [34]:
customers.printSchema()

root
 |-- customername: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- addressline1: string (nullable = true)
 |-- addressline2: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- postalcode: string (nullable = true)
 |-- country: string (nullable = true)
 |-- territory: string (nullable = true)

In [35]:
customers.createOrReplaceTempView('customers')

In [36]:
spark.sql('''
    SELECT c.city, COUNT(DISTINCT ordernumber) AS order_count
    FROM sales s
    JOIN customers c ON s.customername = c.customername
    GROUP BY c.city
    ORDER BY 2 DESC
''').show(5)

+----------+-----------+
|      city|order_count|
+----------+-----------+
|    Madrid|         31|
|San Rafael|         17|
|       NYC|         16|
| Singapore|          9|
|     Paris|          9|
+----------+-----------+
only showing top 5 rows