In [1]:
import pandas as pd

In [2]:
# https://www.kaggle.com/competitions/store-sales-time-series-forecasting/data?select=train.csv
df = pd.read_csv('dados/train.csv.zip', date_format='%Y-%m-%d',
                 parse_dates=['date'], index_col='id')

In [3]:
df.head()

         date  store_nbr      family  sales  onpromotion
id
0  2013-01-01          1  AUTOMOTIVE    0.0            0
1  2013-01-01          1   BABY CARE    0.0            0
2  2013-01-01          1      BEAUTY    0.0            0
3  2013-01-01          1   BEVERAGES    0.0            0
4  2013-01-01          1       BOOKS    0.0            0

In [4]:
df['store_nbr'].nunique()

54

In [5]:
df1 = df.loc[df['store_nbr'] == 1, ['date', 'family', 'sales']]
df1 = df1.rename(columns={'date': 'ds', 'sales': 'y', 'family':'unique_id'})

In [6]:
df1.head()

           ds   unique_id    y
id
0  2013-01-01  AUTOMOTIVE  0.0
1  2013-01-01   BABY CARE  0.0
2  2013-01-01      BEAUTY  0.0
3  2013-01-01   BEVERAGES  0.0
4  2013-01-01       BOOKS  0.0