In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession, functions as F

In [2]:
sc = SparkContext.getOrCreate()

24/07/28 15:35:19 WARN Utils: Your hostname, Eduardos-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.15.17 instead (on interface en0)
24/07/28 15:35:19 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/28 15:35:19 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark = SparkSession.builder.appName('PySpark DataFrame from RDD')\
                    .getOrCreate()

In [4]:
rdd = sc.parallelize([('C', 85, 76, 87, 19), ('B', 85, 76, 87, 91),
                      ('A', 85, 78, 96, 92), ('A', 92, 76, 89, 96)], 4)

In [5]:
sub = ['id', 'val1', 'val2', 'val3', 'val4']

In [6]:
df = spark.createDataFrame(rdd, schema=sub)

In [7]:
df.show()

+---+----+----+----+----+
| id|val1|val2|val3|val4|
+---+----+----+----+----+
|  C|  85|  76|  87|  19|
|  B|  85|  76|  87|  91|
|  A|  85|  78|  96|  92|
|  A|  92|  76|  89|  96|
+---+----+----+----+----+

In [8]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- val1: long (nullable = true)
 |-- val2: long (nullable = true)
 |-- val3: long (nullable = true)
 |-- val4: long (nullable = true)

In [9]:
df = spark.read.csv('dados/cereal.csv', sep=',', inferSchema=True, header=True)

In [10]:
df.show(5)

+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|                name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|           100% Bran|  N|   C|      70|      4|  1|   130| 10.0|  5.0|     6|   280|      25|    3|   1.0|0.33|68.402973|
|   100% Natural Bran|  Q|   C|     120|      3|  5|    15|  2.0|  8.0|     8|   135|       0|    3|   1.0| 1.0|33.983679|
|            All-Bran|  K|   C|      70|      4|  1|   260|  9.0|  7.0|     5|   320|      25|    3|   1.0|0.33|59.425505|
|All-Bran with Ext...|  K|   C|      50|      4|  0|   140| 14.0|  8.0|     0|   330|      25|    3|   1.0| 0.5|93.704912|
|      Almond Delight|  R|   C|     110|      2|  2|   200|  1.0| 14.0|     8|    -1|      25|    3|   1.0|0.75|34.384843|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
only showing top 5 rows

In [11]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- mfr: string (nullable = true)
 |-- type: string (nullable = true)
 |-- calories: integer (nullable = true)
 |-- protein: integer (nullable = true)
 |-- fat: integer (nullable = true)
 |-- sodium: integer (nullable = true)
 |-- fiber: double (nullable = true)
 |-- carbo: double (nullable = true)
 |-- sugars: integer (nullable = true)
 |-- potass: integer (nullable = true)
 |-- vitamins: integer (nullable = true)
 |-- shelf: integer (nullable = true)
 |-- weight: double (nullable = true)
 |-- cups: double (nullable = true)
 |-- rating: double (nullable = true)

In [12]:
df.select(['name', 'mfr', 'rating']).show(5)

+--------------------+---+---------+
|                name|mfr|   rating|
+--------------------+---+---------+
|           100% Bran|  N|68.402973|
|   100% Natural Bran|  Q|33.983679|
|            All-Bran|  K|59.425505|
|All-Bran with Ext...|  K|93.704912|
|      Almond Delight|  R|34.384843|
+--------------------+---+---------+
only showing top 5 rows

In [13]:
df = df.withColumn('calories_float', df['calories'].cast('Float'))

In [14]:
df.show(5)

+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+--------------+
|                name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|calories_float|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+--------------+
|           100% Bran|  N|   C|      70|      4|  1|   130| 10.0|  5.0|     6|   280|      25|    3|   1.0|0.33|68.402973|          70.0|
|   100% Natural Bran|  Q|   C|     120|      3|  5|    15|  2.0|  8.0|     8|   135|       0|    3|   1.0| 1.0|33.983679|         120.0|
|            All-Bran|  K|   C|      70|      4|  1|   260|  9.0|  7.0|     5|   320|      25|    3|   1.0|0.33|59.425505|          70.0|
|All-Bran with Ext...|  K|   C|      50|      4|  0|   140| 14.0|  8.0|     0|   330|      25|    3|   1.0| 0.5|93.704912|          50.0|
|      Almond Delight|  R|   C|     110|      2|  2|   200|  1.0| 14.0|     8|    -1|      25|    3|   1.0|0.75|34.384843|         110.0|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+--------------+
only showing top 5 rows

In [15]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- mfr: string (nullable = true)
 |-- type: string (nullable = true)
 |-- calories: integer (nullable = true)
 |-- protein: integer (nullable = true)
 |-- fat: integer (nullable = true)
 |-- sodium: integer (nullable = true)
 |-- fiber: double (nullable = true)
 |-- carbo: double (nullable = true)
 |-- sugars: integer (nullable = true)
 |-- potass: integer (nullable = true)
 |-- vitamins: integer (nullable = true)
 |-- shelf: integer (nullable = true)
 |-- weight: double (nullable = true)
 |-- cups: double (nullable = true)
 |-- rating: double (nullable = true)
 |-- calories_float: float (nullable = true)

In [16]:
df.groupBy('mfr').count().show()

+---+-----+
|mfr|count|
+---+-----+
|  K|   23|
|  Q|    8|
|  A|    1|
|  N|    6|
|  R|    8|
|  G|   22|
|  P|    9|
+---+-----+

In [17]:
df.orderBy('calories', ascending=False).select('name', 'calories')\
  .show(5, truncate=False)

+---------------------------------+--------+
|name                             |calories|
+---------------------------------+--------+
|Mueslix Crispy Blend             |160     |
|Muesli Raisins; Dates; & Almonds |150     |
|Muesli Raisins; Peaches; & Pecans|150     |
|Total Raisin Bran                |140     |
|Just Right Fruit & Nut           |140     |
+---------------------------------+--------+
only showing top 5 rows

In [18]:
df.select('name', 'vitamins', F.when(df.vitamins > '25', 'high_vitamin'))\
  .orderBy('vitamins', ascending=False).show(10)

+--------------------+--------+-----------------------------------------------+
|                name|vitamins|CASE WHEN (vitamins > 25) THEN high_vitamin END|
+--------------------+--------+-----------------------------------------------+
|Just Right Crunch...|     100|                                   high_vitamin|
|Just Right Fruit ...|     100|                                   high_vitamin|
|          Product 19|     100|                                   high_vitamin|
|   Total Corn Flakes|     100|                                   high_vitamin|
|   Total Raisin Bran|     100|                                   high_vitamin|
|   Total Whole Grain|     100|                                   high_vitamin|
|            Cheerios|      25|                                           NULL|
|Crispy Wheat & Ra...|      25|                                           NULL|
|Cinnamon Toast Cr...|      25|                                           NULL|
|            All-Bran|      25|                                           NULL|
+--------------------+--------+-----------------------------------------------+
only showing top 10 rows

In [19]:
df.filter(df.calories > 100).show()

+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+--------------+
|                name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|calories_float|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+--------------+
|   100% Natural Bran|  Q|   C|     120|      3|  5|    15|  2.0|  8.0|     8|   135|       0|    3|   1.0| 1.0|33.983679|         120.0|
|      Almond Delight|  R|   C|     110|      2|  2|   200|  1.0| 14.0|     8|    -1|      25|    3|   1.0|0.75|34.384843|         110.0|
|Apple Cinnamon Ch...|  G|   C|     110|      2|  2|   180|  1.5| 10.5|    10|    70|      25|    1|   1.0|0.75|29.509541|         110.0|
|         Apple Jacks|  K|   C|     110|      2|  0|   125|  1.0| 11.0|    14|    30|      25|    2|   1.0| 1.0|33.174094|         110.0|
|             Basic 4|  G|   C|     130|      3|  2|   210|  2.0| 18.0|     8|   100|      25|    3|  1.33|0.75|37.038562|         130.0|
|        Cap'n'Crunch|  Q|   C|     120|      1|  2|   220|  0.0| 12.0|    12|    35|      25|    2|   1.0|0.75|18.042851|         120.0|
|            Cheerios|  G|   C|     110|      6|  2|   290|  2.0| 17.0|     1|   105|      25|    1|   1.0|1.25|50.764999|         110.0|
|Cinnamon Toast Cr...|  G|   C|     120|      1|  3|   210|  0.0| 13.0|     9|    45|      25|    2|   1.0|0.75|19.823573|         120.0|
|            Clusters|  G|   C|     110|      3|  2|   140|  2.0| 13.0|     7|   105|      25|    3|   1.0| 0.5|40.400208|         110.0|
|         Cocoa Puffs|  G|   C|     110|      1|  1|   180|  0.0| 12.0|    13|    55|      25|    2|   1.0| 1.0|22.736446|         110.0|
|           Corn Chex|  R|   C|     110|      2|  0|   280|  0.0| 22.0|     3|    25|      25|    1|   1.0| 1.0|41.445019|         110.0|
|           Corn Pops|  K|   C|     110|      1|  0|    90|  1.0| 13.0|    12|    20|      25|    2|   1.0| 1.0|35.782791|         110.0|
|       Count Chocula|  G|   C|     110|      1|  1|   180|  0.0| 12.0|    13|    65|      25|    2|   1.0| 1.0|22.396513|         110.0|
|  Cracklin' Oat Bran|  K|   C|     110|      3|  3|   140|  4.0| 10.0|     7|   160|      25|    3|   1.0| 0.5|40.448772|         110.0|
|             Crispix|  K|   C|     110|      2|  0|   220|  1.0| 21.0|     3|    30|      25|    3|   1.0| 1.0|46.895644|         110.0|
|         Froot Loops|  K|   C|     110|      2|  1|   125|  1.0| 11.0|    13|    30|      25|    2|   1.0| 1.0|32.207582|         110.0|
|      Frosted Flakes|  K|   C|     110|      1|  0|   200|  1.0| 14.0|    11|    25|      25|    1|   1.0|0.75|31.435973|         110.0|
|Fruit & Fibre Dat...|  P|   C|     120|      3|  2|   160|  5.0| 12.0|    10|   200|      25|    3|  1.25|0.67|40.917047|         120.0|
|       Fruitful Bran|  K|   C|     120|      3|  0|   240|  5.0| 14.0|    12|   190|      25|    3|  1.33|0.67|41.015492|         120.0|
|      Fruity Pebbles|  P|   C|     110|      1|  1|   135|  0.0| 13.0|    12|    25|      25|    2|   1.0|0.75|28.025765|         110.0|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+--------------+
only showing top 20 rows

In [20]:
df.filter(df.name.isNotNull()).show(5)

+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+--------------+
|                name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|calories_float|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+--------------+
|           100% Bran|  N|   C|      70|      4|  1|   130| 10.0|  5.0|     6|   280|      25|    3|   1.0|0.33|68.402973|          70.0|
|   100% Natural Bran|  Q|   C|     120|      3|  5|    15|  2.0|  8.0|     8|   135|       0|    3|   1.0| 1.0|33.983679|         120.0|
|            All-Bran|  K|   C|      70|      4|  1|   260|  9.0|  7.0|     5|   320|      25|    3|   1.0|0.33|59.425505|          70.0|
|All-Bran with Ext...|  K|   C|      50|      4|  0|   140| 14.0|  8.0|     0|   330|      25|    3|   1.0| 0.5|93.704912|          50.0|
|      Almond Delight|  R|   C|     110|      2|  2|   200|  1.0| 14.0|     8|    -1|      25|    3|   1.0|0.75|34.384843|         110.0|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+--------------+
only showing top 5 rows

In [21]:
df.filter(df.name.isNull()).show(5)

+----+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+------+--------------+
|name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|rating|calories_float|
+----+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+------+--------------+
+----+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+------+--------------+