# Bibliotecas

In [1]:
import numpy as np
import pandas as pd

# Preparação dos Dados

In [2]:
# Dados obtidos em: https://br.investing.com/indices/bovespa-historical-data

# Carregando o CSV
data = pd.read_csv('dados/ibovespa-201907-202406.csv', dtype=str)

# Renomeando as variáveis
data.columns = ['date', 'closing', 'opening', 'max', 'min',
                'volume', 'variation']

# Date as date data type
data['date'] = pd.to_datetime(data['date'], format='%d.%m.%Y')

# Limpando os caracteres para converter para float
for var in ['closing', 'opening', 'max', 'min', 'variation']:
    data[var] = data[var].str.replace('%', '')\
                         .str.replace('.', '')\
                         .str.replace(',', '.')\
                         .astype(float)

# Ajustando a coluna 'vol'
def convert_volume(volume):
    if 'M' in volume:
        return float(volume.replace('M', '').replace(',', '.')) * 1e6
    elif 'K' in volume:
        return float(volume.replace('K', '').replace(',', '.')) * 1e3
    else:
        return float(volume.replace(',', '.'))

data['volume'] = data['volume'].apply(convert_volume)

# Descrição dos Dados

**Variáveis:**

|Variável|Descrição|
|-|-|
|date|Data do Pregão|
|closing|Valor no Fechamento|
|opening|Valor na Abertura|
|max|Valor Máximo|
|min|Valor Mínimo|
|volume|Volume Negociado|
|variation|Variação percentual com o fechamento do dia anterior|

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1244 entries, 0 to 1243
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       1244 non-null   datetime64[ns]
 1   closing    1244 non-null   float64
 2   opening    1244 non-null   float64
 3   max        1244 non-null   float64
 4   min        1244 non-null   float64
 5   volume     1244 non-null   float64
 6   variation  1244 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 68.2 KB

In [4]:
data.head()

        date   closing   opening       max       min     volume  variation
0 2024-06-28  123907.0  124308.0  124500.0  123298.0  9070000.0      -0.32
1 2024-06-27  124308.0  122642.0  124308.0  122642.0  8710000.0       1.36
2 2024-06-26  122641.0  122331.0  122701.0  121402.0  8180000.0       0.25
3 2024-06-25  122331.0  122634.0  122849.0  121997.0  6940000.0      -0.25
4 2024-06-24  122637.0  121343.0  122840.0  121307.0  7840000.0       1.07

In [5]:
data.describe(include=np.number)

,closing,opening,max,min,volume,variation
count,1244.000000,1244.000000,1244.000000,1244.000000,1.244000e+03,1244.000000
mean,111065.645498,111047.559486,112055.311897,110048.052251,1.044200e+07,0.029928
std,11744.020943,11741.633790,11490.031702,11955.624684,3.415931e+06,1.632809
min,63570.000000,63604.000000,67604.000000,61691.000000,4.243200e+05,-14.780000
25%,103948.500000,103940.000000,104820.750000,103085.000000,8.400000e+06,-0.740000
50%,111892.000000,111882.000000,112954.000000,110730.500000,1.039500e+07,0.055000
75%,118883.500000,118865.750000,119627.750000,117938.500000,1.248500e+07,0.852500
max,134194.000000,134194.000000,134392.000000,133832.000000,2.603000e+07,13.910000